*{
   margin: 0;
   padding: 0;
   font-family:微軟正黑體;
   color:white;
}
#card{
    background-image: url(https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-size:cover;
    width:650px;
/* 上 左右 下 */
margin: 150px auto 0;
padding: 250px 70px 50px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
transition:0.5s;
}

#card:hover{
    transform:scale(1.2);
}
#content {
    background-color: rgba(0, 0, 0, 0.5);
    color: gold;
    padding: 30px 20px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
}

ul {
    padding-left: 30px;
}

li {
    margin-bottom: 8px;
}


footer{
      font-size: 72px;
      text-align: center;
      letter-spacing: 80px;
      padding-left:80px ;
      margin-top: 50px;
      color: rgba(0,0,0,0.15);
}
body{
    background: #f5f5f5;
    color:gold;
}